
<div class="item  gridSortable bookitem" style="z-index: 0;">
  <% if signed_in? and current_user.isOwner?(book) or current_user.isEditor?(book) %>
  <div class="bookshelf-edit-btn">
    <div class="dropdown">
      <a class="dropdown-toggle icon-chevron" data-toggle="dropdown" href="#" title="Edit or delete this storybook" rel="tooltip"><i class="icon-chevron-down"></i></a>
      
        <ul class="dropdown-menu bookshelf" role="menu" aria-labelledby="dLabel" >
          
          <li><%= link_to "Edit", edit_profile_path(book) %></li>
          <li><%= link_to "Delete", book, method: :delete, data: { confirm: "Are you sure you want to delete this storybook? All the stories will be deleted permanently." } %></li>
          <!-- for future implementation
          <li><a href="#">Comment</a></li>
          <li><a href="#">Flag</a></li>
          -->
        </ul>
    </div>
  </div>
<% end %>
  <div class="ajax noContext Board Module boardCoverImage" data-sort-id="429319845666926550">
    <%= link_to root_url + book.url, class: "boardLinkWrapper" do %>
      <h3 class="boardName">
        <div class="icons"></div>
        <%= book.first_name + " " + book.last_name  %>
      </h3>

      <div class="boardCoverWrapper">
        <span class="hoverMask"></span>
        <% if not(book.photofeed[0].blank?) and book.photofeed[0].photo.file? %>
        <%= image_tag book.photofeed[0].dynamic_photo_url("216x146#"), class: "boardCover" %>
        <% end %>
        </span>
        <span class="boardPinCount">
          <%= book.storycount %> stories
        </span>
      </div>
      <ul class="boardThumbs">
        <li>
          <span class="hoverMask">
            <% if not(book.photofeed[1].blank?) and book.photofeed[1].photo.file? %>
            <%= image_tag book.photofeed[1].dynamic_photo_url("51x51#"), class: "thumb" %>
            <% end %>
          </span>
        </li>
        <li>
            <span class="hoverMask">
              <% if not(book.photofeed[2].blank?) and book.photofeed[2].photo.file? %>
              <%= image_tag book.photofeed[2].photo.url(:thumb), class: "thumb" %>
              <% end %>
            </span>
        </li>
        <li>
            <span class="hoverMask">
              <% if not(book.photofeed[3].blank?) and book.photofeed[3].photo.file? %>
              <%= image_tag book.photofeed[3].photo.url(:thumb), class: "thumb" %>
              <% end %>
            </span>
        </li>
        <li>
            <span class="hoverMask">
              <% if not(book.photofeed[4].blank?) and book.photofeed[4].photo.file? %>
              <%= image_tag book.photofeed[4].photo.url(:thumb), class: "thumb" %>
              <% end %>
            </span>
        </li>
      </ul>
      <button type="button" class="rounded ShowModalButton Button hasText Module ajax btn">
        <span class="buttonText">Open book</span>
      </button>
    <% end %>
  </div>
</div>