<!-- ClickTale Top part -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>
<!-- ClickTale end of Top part -->

  <section id="content">
        <h1></h1>

        <%= form_for(@user) do |f| %>
            <fieldset>
                <legend><strong>Organized. Private. Collaborative.</strong></legend>
                <p>
                Capture and treasure your baby's special moments with your family.
                </p>
                
                <p>
                
                  <%= render 'shared/error_messages', object: f.object %>
                  <%= f.text_field :first_name, :required => true, :placeholder => "First Name" %>

                  <%= f.text_field :last_name, :required => true, :placeholder => "Last Name" %>

                  <%= f.text_field :email, type: "email", :required => true, :placeholder => "Email" %>

                  <%= f.password_field :password, :required => true, :pattern => ".{6,}", :title => "6 characters minimum", :placeholder => "Password" %>
                <div class="submit-btn">
                <%= f.submit "Create my FREE storybook", class: "green_button" %>
                  <div class="center">- or -</div>
                <a class="btn-auth btn-facebook large" href="/auth/facebook">Login with <b>Facebook</b></a>
                </div>
                </p>
                Already have an account? <a href="#signin_modal" class="signin_modallink" data-toggle="modal" data-keyboard="true">Log in now</a>
                <p class="learnmore">
                  See more 
                  <span class="learnmore-circles">
                  <a href="javascript:void(0)" class="first-btn learnmore-btn active"><i class="icon-circle"></i></a>  
                  <a href="javascript:void(0)" class="second-btn learnmore-btn"><i class="icon-circle"></i><a/>  
                  <a href="javascript:void(0)" class="third-btn learnmore-btn"><i class="icon-circle"></i><a/>
                  </span>
                </p>
            </fieldset>
        <% end %>

    </section>  

  <div id="first" class="panel">
    <a name="first"/>
  </div>

  <div id="second" class="panel hidden">
    <a name="second" />
    <div id="imgcontainer" >
      <img class="bgpics" src="assets/bg2.png" />
    </div>
  </div>

  <div id="third" class="panel hidden">
    <a name="third" />
    <div id="imgcontainer" >
      <img class="bgpics" src="assets/bg3.png" />
    </div>
  </div>



<script type="text/javascript" id="vidyard_embed_code_NwTY0nTivSUPveCHi5i1yA" src="//play.vidyard.com/NwTY0nTivSUPveCHi5i1yA.js?v=3.0&type=lightbox"></script>
<!-- ClickTale Bottom part -->

<script type='text/javascript'>
// The ClickTale Balkan Tracking Code may be programmatically customized using hooks:
// 
//   function ClickTalePreRecordingHook() { /* place your customized code here */  }
//
// For details about ClickTale hooks, please consult the wiki page http://wiki.clicktale.com/Article/Customizing_code_version_2

document.write(unescape("%3Cscript%20src='"+
(document.location.protocol=='https:'?
"https://clicktalecdn.sslcs.cdngc.net/www08/ptc/b7e0b488-188d-478e-8021-0f47aa7ee51b.js":
"http://cdn.clicktale.net/www08/ptc/b7e0b488-188d-478e-8021-0f47aa7ee51b.js")+"'%20type='text/javascript'%3E%3C/script%3E"));
</script>

<!-- ClickTale end of Bottom part -->