
  <section id="content">
        <h1>familytales</h1>

        <%= form_for(@user) do |f| %>
            <fieldset>
                <legend><strong>Organized. Private. Timeless.</strong></legend>
                <p>
                The best way to capture and treasure baby scrapbooks with your family.
                </p>
                
                <p>
                
                  <%= render 'shared/error_messages', object: f.object %>
                  <%= f.text_field :first_name, :required => true, :placeholder => "First Name" %>

                  <%= f.text_field :last_name, :required => true, :placeholder => "Last Name" %>

                  <%= f.text_field :email, type: "email", :required => true, :placeholder => "Email" %>

                  <%= f.password_field :password, :required => true, :pattern => ".{6,}", :title => "6 characters minimum", :placeholder => "Password" %>
                <div class="submit-btn">
                <%= f.submit "Create my FREE storybook", class: "green_button" %>
                  <div class="center">- or -</div>
                <a class="btn-auth btn-facebook large" href="/auth/facebook">Login with <b>Facebook</b></a>
                </div>
                </p>
                Already have an account? <a href="#signin_modal" class="signin_modallink" data-toggle="modal" data-keyboard="true">Log in now</a>
                <p class="learnmore">
                  See more 
                  <span class="learnmore-circles">
                  <a href="#first" class="first-btn learnmore-btn active"><i class="icon-circle"></i></a>  
                  <a href="#second-btn" class="second-btn learnmore-btn"><i class="icon-circle"></i><a/>  
                  <a href="#third-btn" class="third-btn learnmore-btn"><i class="icon-circle"></i><a/>
                  </span>
                </p>
            </fieldset>
        <% end %>

    </section>  

  <div id="first" class="panel">
    <a name="first"/>
  </div>

  <div id="second" class="panel">
    <a name="second" />
    <div id="imgcontainer" >
      <img class="bgpics" src="assets/bg2-smaller.jpg" />
    </div>
  </div>

  <div id="third" class="panel">
    <a name="third" />
    <div id="imgcontainer" >
      <img class="bgpics" src="assets/bg3-smaller.jpg" />
    </div>
  </div>