

  <div id="first" class="panel">
    <section id="content">
        <h1>familytales</h1>

        <%= form_for(@user) do |f| %>
            <fieldset>
                <legend><strong>Organized. Private. Timeless.</strong></legend>
                <p>
                The best way to capture and treasure baby books with your family.
                </p>
                
                <p>
                
                  <%= render 'shared/error_messages', object: f.object %>
                  <%= f.text_field :first_name, :required => true, :placeholder => "First Name" %>

                  <%= f.text_field :last_name, :required => true, :placeholder => "Last Name" %>

                  <%= f.text_field :email, type: "email", :required => true, :placeholder => "Email" %>

                  <%= f.password_field :password, :required => true, :pattern => ".{6,}", :title => "6 characters minimum", :placeholder => "Password" %>
                <div class="submit-btn">
                <%= f.submit "Create my FREE storybook", class: "green_button" %>
                  <div class="center">- or -</div>
                <a class="btn-auth btn-facebook large" href="/auth/facebook">Login with <b>Facebook</b></a>
                </div>
                </p>
                Already have an account? <a href="#signin_modal" data-toggle="modal" data-dismiss="modal" aria-hidden="true" >Log in now</a>
                <p class="learnmore">
                  See more <a href="#first"><i class="icon-circle"></i></a>  <a href="#second"><i class="icon-circle-blank"></i><a/>  <a href="#third"><i class="icon-circle-blank"></i><a/>
                </p>
            </fieldset>
        <% end %>

    </section>  
  
  </div>

  <div id="second" class="panel">
    <a name="second" />
  </div>

  <div id="third" class="panel">
    <a name="third" />
  </div>