<% provide(:title, 'About') %>
<!DOCTYPE html>

    <section class='fees'>
<div class='content'>
<div class='half tied_down'>
<h3>
Once upon a Family
<span class="subtext">
	Every good story begins with a passion - ours was family.
</span>
</h3>
<p>
We believe family is forever and their stories are timeless. Our family's precious moments form the foundation that defines our roots and identities. To continue these legacies, the stories must be passed on.<br><br>

Time, distance and money limited us, in the past, from the complicated project that is passing on our family stories. In the Google video, Daniel used an email account to record Sophie's journey. But, we believe that's not enough.<br><br>

FamilyTales helps you to capture and share your precious family moments (stories, pictures, videos and audio clips), so they can be passed on for generations to come. <br><br>

We've streamlined the process for you, so you can spend more time <i>creating</i> these precious moments with your family. You capture the moments, we'll do the rest. We've taken it upon ourselves to help families everywhere organize, design and, optionally, print their storybooks to share. It's really <i>that</i> simple. 
</p>

</div>
<div class='half payment'>
<h3><br>
</h3>
<p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/R4vkVHijdQk" frameborder="0" allowfullscreen></iframe>
	<br><i>Daniel uses emails to record Sophie's journey in life. You can use FamilyTales.</i></br>


</p>
</div>
</div>
</section>

<section class='signup_bar_simple'>
<div class='content'>
<h3>
Start celebrating your family stories today.
</h3>
<p>
  <!-- When website is live, use the code below:
  <a href="/signup" class="signup_button">Sign up now</a>
-->
<a class="signup_button" data-toggle="modal" data-dismiss="modal" aria-hidden="true" href="/signup" >Sign up now</a>
</p>
</div>
</section>

<section class='future'>
<div class='content'>
<h3>
The FamilyTales team
</h3>
<div class='item seamless'>

	<div class='team-pic'>
	<a href="http://www.ramlijohn.com/about-me" target="_blank">
	     <%= image_tag("/assets/images/team/ramli.png", :class => "team-pic", :alt => "Ramli", :width => "200", :height => "200"  ) %>
	</a>
    </div>
<p>
	Ramli John

</p>
</div>
<div class='item social'>
	<div class='team-pic'>
	<a href="http://about.me/artariq" target="_blank">
		<%= image_tag("/assets/images/team/ali.png", :class => "team-pic", :alt => "Ali", :width => "200", :height => "200"  ) %>
	</a>
</div>
<p>
Ali Tariq
</div>
<div class='item responsive'>
	<div class='team-pic'>
	<a href="http://www.twitter.com/beatricelaw" target="_blank">
		<%= image_tag("/assets/images/team/beatrice.png", :class => "team-pic", :alt => "Beatrice", :width => "200", :height => "200"  ) %>
	</a>
</div>
<p>
Beatrice Law
</div>
</div>
<br><br>
<div class='supporting_content'>
	<h3>
	We are supported by
	</h3>
	<div class='item seamless'>
		<br>
		<a href="http://velocity.uwaterloo.ca/garage" target="_blank">
		     <%= image_tag("/assets/images/support/velocity_logo.png", :alt => "Velocity" ) %>
		</a>
	</div>
	<div class='item social'>
		<div class='bizinc-logo'>
			<a href="http://bizinc.ca/" target="_blank">
				<%= image_tag("/assets/images/support/bizinclogo.png", :alt => "BizInc", :style => "margin-left: 50% !important;"  ) %>
			</a>
		</div>
	</div>
	<div class='item responsive'>
		<div class='mars-logo'>
		<a href="http://marscommons.marsdd.com" target="_blank">
			<%= image_tag("/assets/images/support/Marslogo.png", :alt => "MaRS", :style => "margin-left: 50% !important;" ) %>
		</a>
		</div>
	</div>
<!--	<div class='item responsive'>
		<div class='mars-logo'>
		<a href="http://www.techalliance.com" target="_blank">
			<%= image_tag("/assets/images/support/techalliance.jpg", :alt => "Techalliance", :style => "margin-left: 50% !important;" ) %>
		</a>
		</div>
	</div> -->
</div>
</section>

<section class='signup_bar_simple'>
<div class='content'>
<h3>
Start celebrating your family stories today.
</h3>
<p>
  <!-- When website is live, use the code below:
  <a href="/signup" class="signup_button">Sign up now</a>
-->
<a class="signup_button" data-toggle="modal" data-dismiss="modal" aria-hidden="true" href="/signup" >Sign up now</a>
</p>
</div>
</section>

<script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0017/3827.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>



