<% if signed_in? %>
<% provide(:title, 'My Library') %>
	<%= render 'shared/user_frontpage' %>
	<%= render 'coachmarks' %>
<%= render 'shared/new_storybook_modal' %>

<% else %>
<% provide(:title, 'Home') %>
	<%= render 'landing_page' %>
	<!-- <div class="container">
		
		<%= form_for(@user) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<div id="newusermodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false" data-keyboard="false">
		  <div class="modal-header">
			<h3 id="myModalLabel">Sign up now to start your family storybook. It's free.</h3>
		  </div>
		  <div class="modal-body">

			<div class="userinput">
			  	<%= f.text_field :first_name, :placeholder => "Your first name" %></br>
			  	<%= f.text_field :last_name, :placeholder => "Your last name" %></br>
			  	<%= f.text_field :email, :placeholder => "Your email" %></br>
			  	<%= f.password_field :password, :placeholder => "Your new password" %>
			</div>
		  </div>
		  <div class="modal-footer">
			<button data-toggle="modal" class="btn btn-primary" data-dismiss="modal" aria-hidden="true" href="#newstorybookmodal">Step 1 of 2</button>
		  </div>
		</div>  

		<div id="newstorybookmodal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModal2Label" aria-hidden="true" data-backdrop="false" data-keyboard="false">
		  <div class="modal-header">
				<h3 id="myModalLabel">I want to start a storybook for my</h3>
		  </div>
		  <div class="modal-body">
		  	
		  	<div class="relationshipdesc">
					<h3 id="myModalLabel">
				  	<%= select "relationship","description", 
							Relationshipdesc.all.collect {|p| [ p.description, p.id ] }%>
				 	</p>
				</div>
				<div class="userinput">
					<p>
					<%= f.fields_for :profile do |p| %>

				  	<%= p.text_field :first_name, :placeholder => "Their first name" %></br>
				  	<%= p.text_field :last_name, :placeholder => "Their last name" %>
				  	</p>
			  	<% end %>
				</div>
				
		  </div>
		  <div class="modal-footer">
			<button data-toggle="modal" class="btn btn-primary" data-dismiss="modal" aria-hidden="true" href="#betaModal">Start my family storybook now!</button>
		  </div>
		</div>  
		
		<div id="betaModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="startModalLabel" aria-hidden="true" data-keyboard="false">
			<div class="modal-header">
				FamilyTales is proud to be in beta mode!
			</div>
			<div class="modal-body">
				<p>We are offering FamilyTales to you for free so that you can give us feedback. We would love to hear from you! Notify us of any issues or ideas of improvement by <a href="mailto:familytalesus@gmail.com">email</a>, calling our toll-free number <strong>1-877-753-9166</strong> or using the <strong>feedback form</strong> in the bottom-right of our website.</p>
				<p>Are you willing to openly and honestly give us feedback?</p>
			</div>
			<div class="modal-footer">
				
				<%= f.submit "Yes, start my storybook!", class: "btn btn-primary btn_yellow", width:"40px" %></br></br>
				<a href="http://www.familytales.co"><button class="btn btn-primary" width="40px">No, bring me to the front page.</button></a>
				<% end %>
			</div>
		</div>
		
	</div> -->
<% end %>
