<% if signed_in? %>
	<%= render 'shared/user_frontpage' %>
<% else %>
	<div class="center hero-unit">
	  <h1>HaloLane</h1></br>

		<%= form_for(@user) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		
		  <hr />
	  	<h2>
	    	I want to capture, celebrate and share the life of
		    <p>
		    	<%= f.fields_for :profile do |p| %>
				  	<%= p.text_field :first_name, :placeholder => "First name" %>
				  	<%= p.text_field :last_name, :placeholder => "Last name" %>
			  	<% end %>
	  		</p>
	  	</h2> 
	  	<%= f.text_field :email, :placeholder => "My email address" %>
	  	
	  	
			
		  <%= f.submit "Create Your Life Storybook", class: "btn btn-large btn-primary" %>
		<% end %>
		<p>
			or<br/>
			<a href="/auth/facebook" class="auth_provider">
		  	<%= image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook" %>
		  		Connect with Facebook
			</a>
		</p>
	 
	</div>
<% end %>