<% if signed_in? %>
	<%= render 'shared/user_frontpage' %>
<% else %>
	<div class="center hero-unit">
	  <h1>HaloLane</h1></br>

		<%= form_for(@user) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		
		  <hr />
	  	<h2>
	    	I want to capture, celebrate and remember the life of
		    <p>
		    	<%= f.fields_for :profile do |p| %>
				  	<%= p.text_field :first_name, :placeholder => "First name" %>
				  	<%= p.text_field :last_name, :placeholder => "Last name" %>
			  	<% end %>
	  		</p>
	  	</h2> 
	  	
			<p>
			<a href="#userinfo" class="btn_yellow" data-toggle="modal" data-keyboard="true"><span>Create your storybook for free</span></a></p>
		  
		<hr />
	 
	</div>
	<div id="userinfo" class="modal hide fade" tabindex="-1" role="dialog" role="dialog" aria-labelledby="userinfoLabel" aria-hidden="true">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h3 id="userinfoLabel">Just one more step</h3>
	  </div>
	  <div class="modal-body">
	  	<h2>This person is my</h2>
	  	<p>
	  	<%= select "relationship","description", 
  				Relationshipdesc.all.collect {|p| [ p.description, p.id ] }%>
  		</p>

  		<!--
	    <h2>My information<p>
	    		<%= f.text_field :first_name, :placeholder => "First name" %> </br>
	    		<%= f.text_field :last_name, :placeholder => "Last name" %></br>
			  	<%= f.text_field :email, :placeholder => "My email address" %></br>
			  	<%= f.password_field :password, :placeholder => "My password" %></br>
		  	</p></h2>
		  -->
		  	<%= f.submit "Get Started", class: "btn btn-large btn-primary" %>
			<% end %>
	  </div>
	</div>
<% end %>