<% provide(:title, 'Welcome To FamilyTales') %>
<div class="
page onboarding_page
">

	<script type="text/javascript">
    	mixpanel.track("Second welcome page loaded");
	</script>

  <div id="page_container"><section class="new_invite_flow"><div class="invite-all">
	<div id="line-container">
		<div id="dotted-line"></div>
	</div>

	<div id="steps-container">
		<ul id="steps">
			<li id="first">
				<%= image_tag("/assets/dot1_inactive.png") %>
				<p class="active">Create your child's storybook</p>
			</li>
			<li id="second">
				<%= image_tag("/assets/dot2_active.png") %>
				<p class="inactive">Set the Tell-a-Tale frequency</p>
			</li>
		</ul>
	</div>

  <div class="main-steps-content">
<p class="invite-heading1">Set how often you want to receive Tell-a-Tale questions by email about <%= current_user.profiles.first.first_name %>!</p>

<div id="invite-import" class="section2">
	<div class="box-line"></div>
	<p class="invite-heading2">Set Tell-a-Tale Frequency</p>
	<p class="invite-heading3">Tell-a-Tale is an email you get with a single question like, <strong>"What is one life lesson you would like to share with <%= current_user.profiles.first.first_name %>?"</strong> Simply reply back to the email and we will save it to <%= current_user.profiles.first.first_name %>'s storybook. The more questions you answer, the more <%= current_user.profiles.first.first_name %> can know about <%= current_user.profiles.first.first_name %>'s childhood.</p>
	<%= form_for(@emailsubscription) do |p| %>
	<p>	
		<div id="slider-range-min"></div><br>
		<%= p.text_area :emailperweek, :required => true, :size => '1x1', :readonly => true %><span class="emaildesc"> times a week</span>
	</p><br>
<p>
	<%= p.submit "Set Email Frequency", class: "green_button startstorybook_button" %> 
	<% end %>
</p></div>
</div>

<script type="text/javascript">
    $(function() {
      $( "#slider-range-min" ).slider({
        range: "min",
        value: <%= @emailsubscription.emailperweek %>,
        min: 0,
        max: 7,
        slide: function( event, ui ) {
          $( "#emailsubscription_emailperweek" ).val(ui.value );
        }
      });
      
      	$( "#emailsubscription_emailperweek" ).val($( "#slider-range-min" ).slider( "value" ) );
    });
  </script>

</div>
</section></div>
</div>