<div class="coachmarks hide">
	<% if signed_in? && current_user.contributing?(@profile) && (current_user.getPermission(@profile) == "edit" or current_user.getPermission(@profile) == "contribute") %>
		<div class="edit-coachmark">
			<%= image_tag("/images/coachmarks/edit.png") %>
		</div>
		<div class="invite-coachmark">
			<%= image_tag("/images/coachmarks/invite.png") %>
		</div>
		<div class="addmemory-coachmark">
			<%= image_tag("/images/coachmarks/memory.png") %>
		</div>
	<% end %>
	<div class="welcome-coachmark">
		<%= image_tag("/images/coachmarks/welcomestorybook.png") %>
	</div>  
</div>
<% if signed_in? && current_user.contributing?(@profile) && (current_user.getPermission(@profile) == "edit" or current_user.getPermission(@profile) == "contribute") %>
<div class="firststories-coachmark hide">
	<%= image_tag("/images/coachmarks/firststory.png") %>
</div>
<% end %>