<!-- Modal -->
<div id="newmemorymodal" class="modal hide fade newmemorymodal" tabindex="-1" role="dialog" aria-labelledby="newMemoryLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="newMemoryLabel">Write a new story about <%= @profile.first_name %>!</h3>
  </div>
  <div class="modal-body">
    <div class="messageBox"> 
			<%= form_for @memory, :html => { :multipart => true }, :remote => true do |f| %>
		  <%= render 'shared/error_messages', object: f.object %>
	  
		  <input type="hidden" id="memory_profile_id" name="memory[profile_id]" value="<%= @profile.id %>" />
		  <input type="hidden" id="memory_user_id" name="memory[user_id]" value="<%= current_user.id %>" />
		  <div class="field">
		  	<div class="suggeststory">
		  		<a href="#" title="Are you stuck? Click here." rel="tooptip">
		  		<i class="icon-lightbulb"></i> Suggest a story
			  	</a>
		  	</div>
		  	<div class="memoryquestion hidden">
		  		<p>
		  			<% if current_user.memorycount == 0 %>
		  				What are a few names you considered for <%= @profile.first_name %> and why did you choose the name <%= @profile.first_name %>?
		  			<% elsif current_user.memorycount == 1 %>
		  				What I remember most about the arrival of <%= @profile.first_name %>?
		  			<% elsif current_user.memorycount == 2 %>
		  				What were songs that <%= @profile.first_name %> liked as a baby and which one was their favorite?
		  			<% else %>
		  			<%= StorybookQuestion.find(rand(StorybookQuestion.count) + StorybookQuestion.first.id).question.gsub("@profile.first_name", @profile.first_name) %>
		  			<% end %>
		  		</p>
		  		<div class="skipquestion">
			  		<a rel="tooltip" title="Skip this question"><i class="icon-forward"></i></a>
			  	</div>
				  	<!--
			  		<div class="questionwarning">
				  		<p>The questions are here to guide you write stories about <%= @profile.first_name %>. Feel free to write your own or skip the questions!</p>
				  	
				  	</div>
				  	-->
		  	</div>

		  	
		  	
		  	</br>
				<div class="composerBox expanded">
					<% if signed_in? && current_user.email == ('familytalesuser2@gmail.com') and @profile.url == "alexdunphy" %>
						<textarea rows="4" cols="50" readonly>You cannot add new stories to this sample storybook as an Explorer.
						 </textarea>
					<% else %>
				  	<%= f.text_area :content, placeholder: "Write a new story about " + @profile.first_name + "...", rows:"1", cols:"10", maxlength:"250"%>
			  	<% end %>
				</div>
			
				<div class="addphoto hidden">
					<%= f.file_field :photo%>
				</div>
			</div>
		</div>
	</div>

		
  <div class="modal-footer">
		<div id="messageTools" class="_addLinkBlock messageTools" >

			<div class="controls">
				<span id="memorycounter">
				</span>
				<span class="addphoto-icon">		
					<a href="#" title="Add an image" rel="tooptip"><i class="icon-camera"></i></a>
				</span>
				<span class="btn-post">
					<% if signed_in? && current_user.email == ('familytalesuser2@gmail.com') and @profile.url == "alexdunphy" %>
						<a class="green_button" href="/signup" style="width:70%;text-decoration:none !important">Start your storybook</a>
					<% else %>
						<div class="actions">
							<%= f.submit "Save this story", class: "green_button savestory_button"%>
						</div>
					<% end %>
				</span>
			</div>
			<% end %>
		</div>
  </div>
</div>
