<!-- Modal -->
<div id="newstorymodal" class="modal hide fade newmemorymodal" tabindex="-1" role="dialog" aria-labelledby="newMemoryLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="newMemoryLabel">Write a new story about <%= @profile.first_name %></h3>
  </div>
  <div class="modal-body">
  	<div class="createTitle_form">
	  	<%= render 'profiles/new_question_form' %>
	  </div>
		<%= form_for @memory, :html => { :multipart => true }, :remote => true do |f| %>
	  <%= render 'shared/error_messages', object: f.object %>
	  <div class="field">
			

		  <div class"hidden_fields">
		  	<input type="hidden" id="memory_profile_id" name="memory[profile_id]" value="<%= @profile.id %>" />
			  <input type="hidden" id="memory_page_id" name="memory[page_id]" value="<%= @page.id %>" />
		  	
			  <span class="newstory_tile_num">
		  		<input type="hidden" id="memory_tile_num" name="memory[tile_num]" value="insert_tile_num" />
		  	</span>
		  </div>
		  <div class="titleBox">
				<h4>Title</h4>
				
				<div class="titlePicker">
				  <div class="titlePickerInnerWrapper">
				    <div class="createTitle">

				    </div>

				    <div class="titlePickerInner">
				      <%= render 'profiles/question_picker' %>
				    </div>
				  </div>
				  <div class="titlePickerOuter">
				    <div class="currentTitle">
				      <div class="iconWrapper">        
				        <i class="icon-sort-down"></i>
				      </div>
			        <span class="currentTitleName">
			        	Current Title
			        	<input id="memory_title" name="memory[title]" type="hidden" value="Current Title"/>
			        </span>
				    </div>
				  </div>
				</div>

			</div>
			<div class="composerBox expanded">
				<h4>Story</h4>
				<% if signed_in? && current_user.email == ('familytalesuser2@gmail.com') and @profile.url == "alexdunphy" %>
					<textarea rows="4" cols="50" readonly>You cannot add new stories to this sample storybook as an Explorer.
					 </textarea>
				<% else %>
			  	<%= f.text_area :content, placeholder: "Write a new story about " + @profile.first_name + "...", rows:"1", cols:"10", maxlength:"250"%>
		  	<% end %>
			</div>

			<div class="adddate hidden">
				<h4>Date</h4>
				<div class="memory_datepicker">
					<div id="memory_date_cal"></div>
					<div class="datefield">
						<%= f.text_field :date, rows: "1", type: "date", :required => true, title: "Enter a valid date formatted to YYYY-MM-DD", value: Date.today%>
					</div>
				</div>
			</div>

			<div class="addphoto hidden">
				<h4>Photo</h4>
				<%= f.file_field :photo%>
			</div>
		</div>
	</div>


  <div class="modal-footer">
		<div id="messageTools" class="_addLinkBlock messageTools" >

			<div class="controls" data-no-turbolink>
				<span id="memorycounter">
				</span>
				<span class="addphoto-icon" data-no-turbolink>		
					<a href="javascript:void(0);" title="Add an image" rel="tooptip"><i class="icon-camera"></i></a>
				</span>
				<span class="adddate-icon" data-no-turbolink>		
					<a href="javascript:void(0);" title="Date this story" rel="tooptip"><i class="icon-calendar"></i></a>
				</span>
				<span class="btn-post">
					<% if signed_in? && current_user.email == ('familytalesuser2@gmail.com') and @profile.url == "alexdunphy" %>
						<a class="green_button" href="/signup" style="width:70%;text-decoration:none !important">Start your storybook</a>
					<% else %>
						<div class="actions">
							<%= f.submit "Save this story", class: "green_button savestory_button"%>
						</div>
					<% end %>
				</span>
			</div>
			<% end %>
		</div>
  </div>
</div>