<!-- Modal -->
<div id="newmemorymodal" class="modal hide fade newmemorymodal" tabindex="-1" role="dialog" aria-labelledby="newMemoryLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="newMemoryLabel">Write a new story about <%= @profile.first_name %>!</h3>
  </div>
  <div class="modal-body">
    <div class="messageBox"> 
			<%= form_for @memory, :html => { :multipart => true }, :remote => true do |f| %>
		  <%= render 'shared/error_messages', object: f.object %>
	  
		  <input type="hidden" id="memory_profile_id" name="memory[profile_id]" value="<%= @profile.id %>" />
		  <input type="hidden" id="memory_user_id" name="memory[user_id]" value="<%= current_user.id %>" />
		  <div class="field">
		  	<div class="memoryquestion">
		  		<p>
		  			<% if current_user.memorycount == 0 %>
		  				What I remember most about your arrival?
		  			<% elsif current_user.memorycount == 1 %>
		  				What were songs you like as a baby and which one was your favorite?
		  			<% elsif current_user.memorycount == 2 %>
		  				What are a few names we considered for you and why picked your name?
		  			<% else %>
		  			<%= StorybookQuestion.find(rand(StorybookQuestion.count) + StorybookQuestion.first.id).question.gsub("@profile.first_name", @profile.first_name) %>
		  			<% end %>
		  		</p>
		  	</div>
		  	<div class="skipquestion">
		  		<a rel="tooltip" title="Skip this question"><i class="icon-forward"></i></a>
		  	</div>
		  	
		  	<div class="questionwarning">
		  		<p>The questions are here to guide you write stories about <%= @profile.first_name %>. Feel free to write your own or skip the questions!</p>
		  	</div>
		  	</br>
				<div class="composerBox expanded">
				  	<%= f.text_area :content, placeholder: "Write a new story about " + @profile.first_name + "...", rows:"1", cols:"10", maxlength:"250"%>
				</div>
			
				<div class="addphoto hidden">
					<%= f.file_field :photo%>
				</div>
			</div>
		</div>
	</div>

		
  <div class="modal-footer">
		<div id="messageTools" class="_addLinkBlock messageTools" >

			<div class="controls">
				<span id="memorycounter">
				</span>
				<span class="addphoto-icon">
					
				 <%= image_tag("/assets/static/icons/addphoto.png", width: "28px", height: "28px", title: "Add an image", rel: "tooptip") %>
				</span>
				<span class="btn-post">
					<div class="actions">
						<%= f.submit "Save this story", class: "green_button savestory_button"%>
					</div>
				</span>
			</div>
			<% end %>
		</div>
  </div>
</div>
