<% provide(:title, "Edit the storybook of" + @profile.first_name + " " + @profile.last_name) %> 
<h1>Update the storybook of <%= @profile.first_name + " " + @profile.last_name %> </h1>


<div class="row">
	<div class="span6 offset3">
		<%= form_for(@profile) do |f| %>

		  <%= render 'shared/error_messages', object: f.object %>

      <p>
		  	<%= f.label :first_name %>
		  	<%= f.text_field :first_name %>
  		</p>

		  <p>
		  	<%= f.label :last_name %>
		  	<%= f.text_field :last_name %>
		  </p>

		  <p>
		  	<%= f.label :birthday %>
		  	<%= f.text_field :birthday %>
      </p>


		  <%= f.submit "Save changes", class: "green_button" %>
		<% end %>
	</div>
</div>
