<% provide(:title, @profile.first_name + " " + @profile.last_name) %>
<div id="content">
    <%= render 'shared/memoryfeed' %>
</div>
<%= render 'coachmarks' %>
<%= render 'invitation_modal' %>
<%= render 'confirm_email' %>
<%= render 'newmemory_modal' %>
<%= render 'editmemory_modal' %>
<%= render 'email_stories_modal' %>
<%= render 'firstthreestories_backdrop' %>
<%= render 'shared/loading_spinner' %>
<div id="zoomstory" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="betamodalLabel" aria-hidden="true">
</div>