<% if @page.memories.find_by_tile_num(tile.tile_num).blank? %>
<li data-row="<%= tile.datarow %>" data-col="<%= tile.datacol %>" data-sizex="<%= tile.datasizex %>" data-sizey="<%= tile.datasizey %>" class="gs_w EmptyTile storyWrapper tile<%= tile.tile_num %>">
	<div data-no-turbolink>
	<a href="#newstorymodal" class="link_newstorymodal" id="<%= tile.tile_num %>" data-toggle="modal" data-dismiss="modal" aria-hidden="true">
		<span class="hoverMask"></span>
	</a>
	</div>
	<i class="icon-plus-sign icon-4"></i>
	<span class="sampletitle-<%= tile.tile_num %>">
		<% if ! @questions[tile.tile_num - 1].nil? %>
			<%= @questions[tile.tile_num - 1].question.gsub("@profile.first_name",@profile.first_name) %>
		<% else %>
			<%= @questions.sample.question.gsub("@profile.first_name",@profile.first_name) %>
		<% end %>
	</span>
</li>
<% else %>
	
<li data-row="<%= tile.datarow %>" data-col="<%= tile.datacol %>" data-sizex="<%= tile.datasizex %>" data-sizey="<%= tile.datasizey %>" class="gs_w  storyWrapper tile<%= tile.tile_num %>">
	<span class="story-edit-btn">
		<% if signed_in? and current_user.canContribute?(@profile) %>
			<div class="dropdown">
				<a class="dropdown-toggle icon-chevron story-edit-icon" data-toggle="dropdown" href="#"><i class="icon-chevron-down"></i></a>
				
					<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" data-no-turbolink>
						
						
							<li class="story-edit-options"><%= link_to "Delete", @page.memories.find_by_tile_num(tile.tile_num), method: :delete, data: { confirm: "Are you sure you want to delete this story?" }, title: "Delete this story", :remote => true  %></li>
						<% if current_user?(@page.memories.find_by_tile_num(tile.tile_num).user) %>
							<li class="story-edit-options"><%= link_to "Edit", edit_memory_path(@page.memories.find_by_tile_num(tile.tile_num)), title: "Edit this story" %></li>
						<% end %>
						<!-- for future implementation
						<li><a href="#">Comment</a></li>
						<li><a href="#">Flag</a></li>
						-->
					</ul>
			</div>
		<% end %>
	</span>
		<div class="zoomstorylink" data-no-turbolink>
		<%= link_to zoomstory_memory_path(@page.memories.find_by_tile_num(tile.tile_num)), :remote => true, :class => "notextdecoration" do %>
			<span class="hoverMask active zoomstoryMask"></span>
		<% end %>
		</div>
		<div class="box-title">
			<div class="box-titlecontent">
			<%= @page.memories.find_by_tile_num(tile.tile_num).title %>
			</div>
		</div>

		<% if @page.memories.find_by_tile_num(tile.tile_num).photo.file? %>
			<div class="box-image">

				<%= image_tag @page.memories.find_by_tile_num(tile.tile_num).dynamic_photo_url(tile.width.to_s + "x" + tile.height.to_s + "#"), class: "storyimage" %>
			</div>
		<% else %>
			<div class='box-content-only-text'>
				<div class="box-content-text">
				<i class="icon-quote-left"></i>
				 <%= @page.memories.find_by_tile_num(tile.tile_num).content %> <i class="icon-quote-right"></i>
				 </div>
			</div>
		<% end %>

		<div class='box-footer'>
			<% if @page.memories.find_by_tile_num(tile.tile_num).photo.file? %>
			<span class='box-content'>
				<%= @page.memories.find_by_tile_num(tile.tile_num).content %>
			</span>
			<% end %>
			<span class="box-storystamp">
			By <%= @page.memories.find_by_tile_num(tile.tile_num).user.first_name + " " + @page.memories.find_by_tile_num(tile.tile_num).user.last_name %> on
				<%= @page.memories.find_by_tile_num(tile.tile_num).date.strftime("%a, %b %d, %Y")  %>
			</span>
			<span class="story-actions">
				<span class="like-btn">
					<div class="likebutton">
						<% if current_user.like?(@page.memories.find_by_tile_num(tile.tile_num)) %>
							<%= link_to unlike_memory_path(@page.memories.find_by_tile_num(tile.tile_num)), :class => "liked", :rel => "tooltip", :placeholder => "Like this story", :remote => true do %>
								<i class="icon-heart"></i> 
								<% if @page.memories.find_by_tile_num(tile.tile_num).numlikes > 0 %>
									<span class="likecount"><%= @page.memories.find_by_tile_num(tile.tile_num).numlikes %></span>
								<% end %>
							<% end %>
						<% else %>
							<%= link_to like_memory_path(@page.memories.find_by_tile_num(tile.tile_num)), :class => "unliked", :rel => "tooltip", :placeholder => "Unlike this story", :remote => true  do %>
								<i class="icon-heart"></i> 
								<% if @page.memories.find_by_tile_num(tile.tile_num).numlikes > 0 %>
									<span class="likecount"><%= @page.memories.find_by_tile_num(tile.tile_num).numlikes %></span>
								<% end %>
							<% end %>
						<% end %> 
					</div>
				</span>
				<span class="comment-icon">
					<i class="icon-comment"></i>
					<span class="commentcount"><%= @page.memories.find_by_tile_num(tile.tile_num).commentcount %></span>
				</span>
			</span>
		</div>
	</li>
<% end %>