<% provide(:title, "Edit user") %> 
<div class="tabbable tabs-left">
  <aside>
    <section>
      <h1>
        <!-- <%= gravatar_for @user %> -->
        <%= @user.first_name %>
        <%= @user.last_name %>
      </h1>
    </section>
  </aside>
  <ul class="nav nav-tabs span2">
    <li><%= link_to "Storybooks", root_url %></li>
    <li class="active"><a href="#tab2" data-toggle="tab">Settings</a></li>
    <!-- <li><a href="#tab3" data-toggle="tab">Notification</a></li> -->
  </ul>
    
  <div class="tab-content span9">
    <div class="tab-pane active" id="tab2">
      <% if current_user.verified == false %>
        <h2>
          Please update your setting to save your storybooks.
        </h2>
      <% end %>
      <%= render 'shared/user_edit_form' %>
    </div><!-- .tab-pane tab2 -->
  </div><!-- .tabcontent -->
</div><!-- .tabbable -->
<%= render 'shared/new_storybook_modal' %>