<% provide(:title, 'Sign up') %>


<div class="row">
	<div class="span6 offset3">
		<%= form_for(@user) do |f| %>
		  <%= render 'shared/error_messages', object: f.object %>
		  <%= f.label :first_name %>
		  <%= f.text_field :first_name, :required => true %>

		  <%= f.label :last_name %>
		  <%= f.text_field :last_name, :required => true %>

		  <%= f.label :email %>
		  <%= f.text_field :email, type: "email", :required => true %>

		  <%= f.label :password %>
		  <%= f.password_field :password, :required => true, :pattern => ".{6,}", :title => "6 characters minimum" %><br>

		  <%= f.submit "Create my storybook!", class: "green_button", width:"width:200px !important;" %>

		  <% end %>

		  <!-- <a href="#betadescmodal" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><button class="green_button" style="width:200px !important;">Start my storybook</button></a> -->
		  <br><br>
	</div>
</div>