<% provide(:title, 'Sign up') %>


<div class="row">
	<div class="span6 offset3 center">
		<h1>Signup</h1>
		<%= form_for(@user) do |f| %>
		  <%= render 'shared/error_messages', object: f.object %>
		  <%= f.label :first_name %>
		  <%= f.text_field :first_name, :placeholder=>"First name"%>

		  <%= f.label :last_name %>
		  <%= f.text_field :last_name, :placeholder=>"Last name" %>

		  <%= f.label :email %>
		  <%= f.text_field :email, :placeholder=>"Email"  %>

		  <%= f.label :password %>
		  <%= f.password_field :password, :placeholder=>"Password"  %>

		  <%= f.label :password_confirmation, "Confirmation" %>
		  <%= f.password_field :password_confirmation, :placeholder=>"Password confirm"  %><br>

		  <%= f.submit "Create my account", class: "green_button" %>
		<% end %>
	</div>
</div>
