<%= form_for @invitation do |f| %>

  <%= render 'shared/error_messages', object: f.object %>

  <input type="hidden" id="invitation_profile_id" name="invitation[profile_id]" value="<%= @profile.id %>" />

  <p>
    <h5><%= f.label :recipient_email, "Friend's email address" %></h5>
    <%= f.text_field :recipient_email %>
  </p>

  <p>
<h5>Permissions:</h5>

<input type="radio" name="permission" value="view"> Viewer 
<div class="small_desc">Viewer can only view this storybook.</div>
<input type="radio" name="permission" value="contribute" checked> Contributor 
<div class="small_desc">Contributor can view and add new stories about <%= @profile.first_name %>. </div>
<input type="radio" name="permission" value="edit"> Editor 
<div class="small_desc">Editor can edit this storybook. They can help you customize this storybook, invite other friends and family, and delete stories that are not appropriate.</div>

  
<br>
  <p><%= f.submit "Send", class: "green_button" %></p>
<% end %>