<div class="newbox" id="blank"></div>
<div class="newbox">
	<% if memoryfeed_item.photo.file? %>
		<span class="box-image">
			<%= image_tag memoryfeed_item.photo, class: "storyimage" %>
			</br>
		</span>
	<% end %>
	<span class='box-text'>
		<%= raw(memoryfeed_item.content) %>
	</span>
	<span class='box-user'>
		<!-- <%= link_to gravatar_for(memoryfeed_item.user), memoryfeed_item.user %> -->
		<%= link_to memoryfeed_item.user.first_name, memoryfeed_item.user %>
	</span>
	<span class="box-timestamp">
		Posted <%= time_ago_in_words(memoryfeed_item.created_at) %> ago.
	</span>
</div>
