<!-- Modal -->
<div id="newstorybook" class="modal hide fade" tabindex="-1" role="dialog" role="dialog" aria-labelledby="addcontributorLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="newstorybookLabel">Create a new storybook</h3>
  </div>
  <div class="modal-body">
  	<h4>I want to start a storybook about my</h4>
  	<p>
  		<%= form_for(@profile) do |p| %>
      <div class="newstorybook_chapter_num">
      </div>
		  <%= render 'shared/error_messages', object: p.object %>
      <p><%= select "relationship","description", 
                  Relationshipdesc.all.collect {|p| [ p.description, p.id ] }%></p>
      <p>
        <%= p.text_field :first_name, :placeholder => "Their first name", :required => true %>
      </p>
      <p>
        <%= p.text_field :last_name, :placeholder => "Their last name", :required => true %>
      </p>
    <p>
      <label for="profile_birthday">Their birthday</label><br>
      <%= p.text_field :birthday, :required => true, :value => (Date.today - 1) %>
    </p>
  	</p>
  </div>
  <div class="modal-footer newstorybook_footer">
    <div class="loading hide">
    <%= render('shared/loading_spinner')%>
    </div>
    <div class="startstorybook">
  	<%= p.submit "Start your storybook", class: "green_button startstorybook_button" %>
    </div>
		<% end %>
  </div>
</div>
