
<div id="newuserstorybook" class="modal fade newuserstorybook" tabindex="-1" role="dialog" aria-labelledby="newuserstorybookLabel" aria-hidden="true">
  <div class="welcome">
  	<%= image_tag("/images/coachmarks/welcome.png") %>
  </div>  
<!--   
  <div class="view">
  	<%= image_tag("/images/coachmarks/view.png") %>
  </div> -->
  <div class="addmemory">
  	<%= image_tag("/images/coachmarks/memory.png") %>
  </div>
  <div class="edit">
  	<%= image_tag("/images/coachmarks/edit.png") %>
  </div>
  <div class="invite">
  	<%= image_tag("/images/coachmarks/invite.png") %>
  </div>
</div>
