<%= form_for(@profile) do |p| %>
  <%= render 'shared/error_messages', object: p.object %>
  <p>
	<%= p.text_field :first_name, :placeholder => "First name of your loved one" %>
	<%= p.text_field :last_name, :placeholder => "Last name of your loved one" %>
  </p>
  <%= p.submit "Create a new life storybook", class: "btn btn-large btn-primary" %>
<% end %>