
<div id="signup_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="betamodalLabel" aria-hidden="true">
  <div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<h3 id="myModalLabel">Sign up now!</h3>
  </div>
  <div class="modal-body">
  	<p>Start celebrating your family stories today.</p>
	<div class="userinput">
		<%= form_for(@user) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
	  	<%= f.text_field :first_name, :placeholder => "Your first name" %></br>
	  	<%= f.text_field :last_name, :placeholder => "Your last name" %></br>
	  	<%= f.text_field :email, :placeholder => "Your email" %></br>
	  	<%= f.password_field :password, :placeholder => "Your new password" %>
	</div>
  </div>
  <div class="modal-footer">
  	 <%= f.submit "Create my storybook!", class: "green_button", width:"width:200px !important;" %>
      <% end %>
  </div>
</div>  