<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.first_name %>
        <%= @user.last_name %>
      </h1>
    </section>
    <section>
      <% if @user.profiles_with_relationships.any? %>
        <h4>Storybooks that you are contributing to</h4>
        <ol class="memories">
          <%= render @profiles %>
        </ol>
        <%= will_paginate @profiles %>
      <% end %>
    </section>
  </aside>
  <div class="span8">
    <h2>
      I want to capture and celebrate the life of</br></br>
      <%= render 'shared/profile_form' %>

    </h2>
        
  </div>
</div>