<%= form_for(@likememory) do |f| %>
  <% if @likememory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@likememory.errors.count, "error") %> prohibited this likememory from being saved:</h2>

      <ul>
      <% @likememory.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :memory_id %><br />
    <%= f.number_field :memory_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
