<h1>Listing likememories</h1>

<table>
  <tr>
    <th>User</th>
    <th>Memory</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @likememories.each do |likememory| %>
  <tr>
    <td><%= likememory.user_id %></td>
    <td><%= likememory.memory_id %></td>
    <td><%= link_to 'Show', likememory %></td>
    <td><%= link_to 'Edit', edit_likememory_path(likememory) %></td>
    <td><%= link_to 'Destroy', likememory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Likememory', new_likememory_path %>
