<div class="hero-unit">
  <div class="header">
    <span class="story-edit-btn">
      <% if signed_in? and current_user.canContribute?(@profile) %>
        <div class="dropdown">
          <a class="dropdown-toggle icon-chevron story-edit-icon" data-toggle="dropdown" href="#"><i class="icon-chevron-down"></i></a>
          
            <ul class="dropdown-menu storyeditmenu" role="menu" aria-labelledby="dLabel">
              
              
                <li class="story-edit-options"><%= link_to "Delete", @memory, method: :delete, data: { confirm: "Are you sure you want to delete this story?" }, title: "Delete this story", :remote => true  %></li>
              <% if current_user?(@memory.user) %>
                <li class="story-edit-options"><%= link_to "Edit", edit_memory_path(@memory), title: "Edit this story" %></li>
              <% end %>
              <!-- for future implementation
              <li><a href="#">Comment</a></li>
              <li><a href="#">Flag</a></li>
              -->
            </ul>
        </div>
      <% end %>
    </span>
    <span class="storydate">
    	<%= @memory.date.strftime("%b %d, %Y") %>
    </span>
    <!-- <div class="shareicons">
        <i class="icon-pinterest"></i> <i class="icon-twitter"> </i> <i class="icon-facebook"></i>
    </div> -->
  </div>
  <h1><%= @memory.title %></h1>
  <img class="storydivider" src="assets/black-divider.png" />
  <div class="mom_reply"><%= @memory.content %></div>
  <div class="user_profile"> - <%= @memory.user.first_name %></div>
  <div id="polaroids">
      <!--Image One-->
   	<% if @memory.photo.file? %>
      <figure> <!--use figure to contain each image and caption-->
      		<%= image_tag @memory.photo.url %>
          <figcaption></figcaption> <!--the caption that appears below the image-->
      </figure>
    <% end %>
  </div>
  <div class="heart">
    <span class="like-btn">
      <div class="likebutton">
        <% if current_user.like?(@memory) %>
          <%= link_to unlike_memory_path(@memory), :class => "liked", :rel => "tooltip", :placeholder => "Like this story", :remote => true do %>
            <i class="icon-heart"></i> 
              <span class="likecount"><%= @memory.numlikes %></span>
          <% end %>
        <% else %>
          <%= link_to like_memory_path(@memory), :class => "unliked", :rel => "tooltip", :placeholder => "Unlike this story", :remote => true  do %>
            <i class="icon-heart"></i> 
              <span class="likecount"><%= @memory.numlikes %></span>
          <% end %>
        <% end %> 
      </div>
    </span>
  </div>
</div>