$(document).ready(function(){

	<%= remotipart_response do %>
		<% if params[:memory][:photo] == nil and params[:memory][:content] == "" %>
			alert("Missing memory and photo!");
		<% else %>  
			var $newMemoryQuestion = "<p>" + <%= raw (StorybookQuestion.find(rand(StorybookQuestion.count)).question.gsub("@profile.first_name", @profile.first_name)).to_json %> + "</p>";
			$('div.memoryquestion').html($newMemoryQuestion);
		  	/* Old code saved when the memory box creation was on the upper left side
		  	$('.messageBoxContainer').removeClass("expanded");
			$('.messageBoxContainer').addClass("collapsed");
			$('.btn-post').addClass("hidden");
			$('.addphoto-icon').addClass("hidden");
			$('.messageTools').addClass("hidden");
			$('.addphoto').addClass("hidden"); */
			$("#memory_content").val('');
			$("#memory_photo").val('');
			var left = 250; 	
			$('#memorycounter').text('250');
			$('#memory_content').keypress(function (e) {
				if((e.which == 13) || (e.which < 0x20)) {
			      e.preventDefault();
			      return false;
			    }
			    
			    var left = 250 - $(this).val().length;
			    if (left < 0) {
			        $('#memorycounter').addClass("text-error");
			    }
			    $('#memorycounter').text(left);
				    
			});

			var $content = <%= raw @memory.content.to_json %>;

			var $newItems = $('<div class="newbox" id="blank"></div><div class="newbox"><% if @memory.photo.file? %><span class="box-image"><%= image_tag @memory.photo, class: "storyimage" %></br></span><% end %><span class="box-text">' + $content + '</span><span class="box-user"><!-- <%= link_to gravatar_for(@memory.user), @memory.user %> --><%= link_to @memory.user.first_name, @memory.user %></span><span class="box-timestamp">Posted <%= time_ago_in_words(@memory.created_at) %> ago.</span></div>');
			var $container = $('#content');
			$container.imagesLoaded( function(){
				$container.prepend( $newItems).isotope( 'reloadItems' ).isotope({ sortBy: 'original-order' });
			});
			// var newItems = $('<div class="newbox" id="blank"></div><div class="newbox"><% if @memory.photo.file? %><span class="box-image"><%= image_tag @memory.photo, class: "storyimage" %></br></span><% end %><span class="box-text"><%= @memory.content %></span><span class="box-user"><!-- <%= link_to gravatar_for(@memory.user), @memory.user %> --><%= link_to @memory.user.first_name, @memory.user %></span><span class="box-timestamp">Posted <%= time_ago_in_words(@memory.created_at) %> ago.</span></div>');

			//$('#content').prepend(newItems).isotope( 'reloadItems' ).isotope({ sortBy: 'original-order' });
		<% end %>
	<% end %>
});