<% provide(:title, 'Edit story') %>
<div class="row">
  <div class="span6 offset3">

	  <h3 id="editmemorymodalLabel" class="center">Edit your story about <%= @profile.first_name %></h3></br></br>
	  <%= form_for(@memory) do |f| %>
		  <%= render 'shared/error_messages', object: f.object %>
	  <div class="messageBox"> 
			
		  <div class="field">
		  	<% if @memory.photo.file? %>
				<span class="edit-image">
					<%= image_tag @memory.photo, class: "storyimage" %>
					</br>
				</span>
				<% end %>
				<% if not @memory.memoryphotos.blank? %>
		      <% @memory.memoryphotos.each do |mp| %>
		     	<span class="edit-image">
		          <%= image_tag mp.photo.url, class: "storyimage" %>
		          </br>
		      </span>
		      <% end %>
		    <% end %>
		  	</br>
	  	<div class="TitleBox">
		  	<h4>Title</h4>
		  	<%= f.text_field :title, rows:"1", cols:"10", :value => @memory.title %>
		  </div>
			<div class="composerBox expanded">
			<h4>Story</h4>
			  	<%= f.text_area :content, rows:"1", cols:"10", maxlength:"250", :value => @memory.content %><br><br>
			</div>
		</div>
	
		<div class="addphoto">
			<p>Add a new photo to this story:<br>
			<%= f.file_field :photo, :title => "Add a photo"%></p>
		</div>

		<div class="btn-post">
			<div class="actions">
				<%= f.submit "Update your story", class: "green_button editstory_button"%>
			</div>
		</div>

		<% end %>



	</div>
</div>