<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <!-- <%= link_to image_tag("/assets/logo.png"), root_path, id: "logo" %> -->
      <%= link_to "FamilyTales", root_path, class:"brand" %>
      <div class="home-header" >
        <div>
          <ul class="nav">
            <% if signed_in? %>

              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
                  
          </ul>
         
            <% else %>
              <li><%= link_to "Sign in", signin_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>