  <div class="navbar-inner">
  <div class="container">
      <nav>
        <ul class="nav btn-topbar">
          
          <li class="storyboardlogo" data-no-turbolink>
              <%= link_to library_path, id: "logo", class: "headerlogo" do %> 
                <div class="headerlogoimage"></div>
              <% end %>
            </li>

          <li class="follow_twitter">
            <a href="http://twitter.com/myFamilyTales" title="Follow us on Twitter" target="_blank"><i class="icon-twitter"></i></a>
          </li>
          <li class="follow_facebook">
            <a href="http://www.facebook.com/myFamilyTales" title="Become a fan on Facebook" target="_blank"><i class="icon-facebook"></i></a>
          </li>

          <li class="headertitlecontent"><div class="headertitle" data-no-turbolink><h4>
              <%= yield(:title) %>
            </h4></div>
          </li>
          <% if signed_in? %>
          <li class="loggedinuser">
              <div class="dropdown">
            
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><h4 class="storybook-user"><%= current_user.first_name + " " + current_user.last_name %></h4> <i class="icon-chevron-sign-down gray"></i></a>
                <ul class="dropdown-menu settingsdropdown" role="menu" aria-labelledby="dLabel">
                  <li><%= link_to "Edit your user settings", edit_user_path(current_user) %></li>
                  <li><%= link_to "Edit your Tell-a-Tale frequency", tellatale_path %></li>
                  <li><%= link_to "Payments", payments_path %></li>
                  <li class="divider"></li>

                  <li><%= link_to "Log out", signout_path, method: "delete" %></li>
                  <li><a href="javascript:void(0);" onclick="startIntro();">Help</a></li>
                  <!-- 
                  <li><%= link_to "Privacy Settings" %></li>
                -->
                </ul>
              </div>
          </li>
          <% else %>
            <li class="signup">
              <a href="/signup" class="">Signup</a>
            </li>
            <li class="login">
              <a href="/login" class="">Login</a>
            </li>
          <% end %>
        </ul>
        </nav>
        </div>
  </div>
