
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav btn-topbar-left">
         <% if signed_in? && current_user.email == ('familytalesuser2@gmail.com') and @profile.url == "alexdunphy" %>
            <li class="storyboardlogo">
              <%= link_to image_tag("/images/small-logo.png"), signout_path, method: "delete", id: "logo", rel:"tooltip", title:"Go to the FamilyTales home page" %> 
            </li>
          <% else %>
            <li class="storyboardlogo">
              <%= link_to image_tag("/images/small-logo.png"), root_path, id: "logo" %> 
            </li>
          <% end %>
          <% if signed_in? and current_user.email != ('familytalesuser2@gmail.com') and @profile.url != "alexdunphy" %>

          <% if signed_in? && current_user.contributing?(@profile) && (current_user.getPermission(@profile) == "edit" or current_user.getPermission(@profile) == "contribute") %>
            <li class="newmemorybtn">
              <div class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-plus"></i><span class="addnewstorytext"></span></a>
                <ul class="dropdown-menu addnewstory" role="menu" aria-labelledby="dLabel">
                  <li><a href="#newmemorymodal" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-pencil"></i> Right Now</a></li>
                  <li><a href="#emailstories" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-envelope-alt"></i> By Email</a></li>
                </ul>
              <!--<a data-toggle="modal" data-dismiss="modal" aria-hidden="true" href="#newmemorymodal" rel="tooltip" title="Add a new story">-->     
            </li>
          <% end %>
           <% if signed_in? && current_user.contributing?(@profile) && (current_user.getPermission(@profile) == "edit" or current_user.getPermission(@profile) == "contribute") %>
            <li class="iconaddcontributor _showAddCollaborator">
              <a href="#addcontributor" class="iconaddcontributorlink" rel="tooltip" data-placement="bottom" title="Invite your friends & family" data-toggle="modal" data-keyboard="true">
                <span class="icon-stack">
                  <i class="icon-user icon-stack-base"></i>
                  <i class="icon-plus plus-user"></i>
                </span>
              </a>
            </li>
          <% end %>
         
        </ul>
        <ul class="nav pull-right">
             <% if signed_in? && current_user.email == ('familytalesuser2@gmail.com') and @profile.url == "alexdunphy" %>
              <li><div class="topbarname"><h4>
                <%= @profile.first_name + " " + @profile.last_name + "\'s storybook" %>
              </h4></div></li>
            <% else %>
              <li><div class="topbarname"><h4>
                <%= link_to  @profile.first_name + " " + @profile.last_name + "\'s storybook", edit_profile_path(@profile), rel:"tooltip", title:"Edit storybook settings" %>
              </h4></div></li>
            <% end %>
            <li class="loggedinuser">
                <div class="dropdown">
              
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#"><h4 class="storybook-user"><%= current_user.first_name + " " + current_user.last_name %></h4> <i class="icon-chevron-sign-down gray"></i></a>
                  <ul class="dropdown-menu settingsdropdown" role="menu" aria-labelledby="dLabel">
                    <li><%= link_to "Edit your user settings", edit_user_path(current_user) %></li>
                    <li class="divider"></li>
                    <li><%= link_to "Edit this storybook settings", edit_profile_path(@profile) %></li>
                    <li><%= link_to "View your other storybooks", root_path %></li>
                    <% if has_relationship?(@profile.id, current_user.id) %>
                      <li><%= link_to "Change your relationship to " + @profile.first_name, edit_relationship_path(@relationship) %></li>
                    <% end %>

                    <li class="divider"></li>

                    <li><%= link_to "Log out", signout_path, method: "delete" %></li>
                    <li><a href="#newuserstorybook" data-toggle="modal" data-dismiss="modal" aria-hidden="true">Help</a></li>
                    <!-- 
                    <li><%= link_to "Privacy Settings" %></li>
                  -->
                  </ul>
                </div>
            </li>
          <% else %>    
            <li class="loggedinuser">

              <h4 class="storybook-user">Explorer User</h4>
            </li>
          <% end %>

        </ul>
      </nav>
    </div>
  </div>
