<header class="navbar navbar-fixed-top">

  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav btn-topbar-left">
          <% if signed_in? && current_user.contributing?(@profile) && (current_user.getPermission(@profile) == "edit" or current_user.getPermission(@profile) == "contribute") %>
            <li class="newmemorybtn">
              <a data-toggle="modal" data-dismiss="modal" aria-hidden="true" href="#newmemorymodal" rel="tooltip" title="Add a new story">
                <i class="icon-plus"></i><span class="addnewstorytext">Add a new story</span>
              </a>
            </li>
          <% end %>
          <li><div class="topbarname"><h4>
            <%= link_to  @profile.first_name + " " + @profile.last_name, edit_profile_path(@profile), rel:"tooltip", title:"Edit storybook settings" %>
          </h4></div></li>
        </ul>
        <ul class="nav pull-right">
          <% if signed_in? && current_user.contributing?(@profile) && (current_user.getPermission(@profile) == "edit" or current_user.getPermission(@profile) == "contribute") %>
            <li class="iconaddcontributor _showAddCollaborator">
                <% if ! current_user.verified == true %>
                  <a href="#confirmemail" class="iconaddcontributorlink" rel="tooltip" data-placement="bottom" title="Invite your friends & family" data-toggle="modal" data-keyboard="true">
                    <i class="icon-share"></i>
                  </a>

                <% else %>
                  <a href="#addcontributor" class="iconaddcontributorlink" rel="tooltip" data-placement="bottom" title="Invite your friends & family" data-toggle="modal" data-keyboard="true">
                    <i class="icon-share"></i>
                  </a>
                <% end %>
            </li>
          <% end %>
           <li class="iconfamtree">
            <%= link_to root_path, rel:"tooltip", title:"View your family storybooks" do %>
              <i class="icon-sitemap"></i>
            <% end %>
          </li>
          <li class="iconsettings">
            <div class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i class="icon-cog"></i></a>
              <ul class="dropdown-menu settingsdropdown" role="menu" aria-labelledby="dLabel">
                <li><a href="#emailstories" data-toggle="modal" data-dismiss="modal" aria-hidden="true">Add Stories by Email</a></li>
                <li><%= link_to "Edit this storybook settings", edit_profile_path(@profile) %></li>
                <% if has_relationship?(@profile.id, current_user.id) %>
                  <li><%= link_to "Change your relationship", edit_relationship_path(@relationship) %></li>
                <% end %>
                <li class="divider"></li>
                <li><%= link_to "Log out", signout_path, method: "delete" %></li>
                <li><a href="#newuserstorybook" data-toggle="modal" data-dismiss="modal" aria-hidden="true" rel="tooltip" title="Show the help guides">Help</a></li>
                <!-- 
                <li><%= link_to "Privacy Settings" %></li>
              -->
              </ul>
            </div>
          </li>
          
          <li class="storyboardlogo">
            <%= link_to image_tag("/images/logo.png"), root_path, id: "logo" %> 
          </li>
          
        </ul>
      </nav>
    </div>
  </div>
</header>
