<!DOCTYPE html>
<html>
<head>
  <link rel="icon" 
    type="image/png" 
    href="/assets/images/favicon1.png">
  <title><%= full_title(yield(:title)) %></title>
  <meta property="og:url"         content="https://www.familytales.co/" /> 
  <meta property="og:title"       content="FamilyTales | Start celebrating your family stories today." /> 
  <meta property="og:description" content="FamilyTales enables families to capture and share their precious memories (stories, pictures, videos and audio clips) in a digital storybook that can be passed on for generations to come! You can also print off your personalized storybook as a keepsakes, or as a gift others." /> 
  <meta property="og:image"       content="https://www.familytales.co/assets/images/FamilyTalesLogo.png" /> 
  
  <!-- Google analytics start -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-40897328-1', 'familytales.co');
    ga('send', 'pageview');
  </script>
  <!-- Google analytics end --> 
  
  <%= stylesheet_link_tag "application-bookshelf", media: "all" %>
  <%= javascript_include_tag "application-bookshelf" %>


  <% if signed_in? && current_user.storybookcount == 0 %>
    <script type="text/javascript">
      $(window).load(function(){
          startIntro();
      });
    </script>
  <% end %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>  <!-- partial app/views/layouts/_shim.html.erb -->
</head>
<body class="columns-4">
  <div class="headerandbody" data-step="1" data-intro="Welcome to your FamilyTales! Here you'll find the bookshelves of your family storybooks." data-position="bottom">
  <%= render 'layouts/header' %>
  <div class="mainContainer">
    <% flash.each do |key, value| %>
       <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
  	<%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </div>
  </div>
<%= render 'shared/new_user_storybook_modal' %>

  <script type="text/javascript">
  function startIntro(){
    introJs().setOption('skipLabel', 'Exit').onchange(function(targetElement) {
        switch (targetElement.getAttribute("data-step"))
        {
            case "1":
              $(".introjs-tooltip").css("margin-left", "350px");
            break;

            case "2":
              $(".introjs-tooltip").css("margin-left", "400px");
            break;

            case "3":
              $(".introjs-tooltip").css("margin-left", "0px");
            break;

            case "4":
            break;
        }
      }).start().onexit(function() {
        $(".gridster").removeClass('shiftright');
        $(".gridster").removeClass("introjs-showElement");
        $("header").removeClass("intro-showElement");
      });
    }
  </script>
</body>
</html>
