<!DOCTYPE html>
<html>
<head>
    <link rel="icon" 
    type="image/png" 
    href="/assets/images/favicon1.png">
  <title><%= full_title(yield(:title)) %></title>
  
  <meta property="og:url"         content="https://www.familytales.co/" /> 
  <meta property="og:title"       content="FamilyTales | Start celebrating your family stories today." /> 
  <meta property="og:description" content="FamilyTales enables families to capture and share their precious memories (stories, pictures, videos and audio clips) in a digital storybook that can be passed on for generations to come! You can also print off your personalized storybook as a keepsakes, or as a gift others." /> 
  <meta property="og:image"       content="https://www.familytales.co/assets/images/FamilyTalesLogo.png" /> 

  <%= stylesheet_link_tag    "application-storyboard", media: "all" %>
  <%= javascript_include_tag "application-storyboard" %>

         <script type="text/javascript">
            var gridster = "";
            $(document).ready(function () {
              var grid = $(".gridster ul").gridster({
                  widget_margins: [10, 10],
                  widget_base_dimensions: [140, 140],
                  shift_larger_widgets_down: false
              }).data('gridster');
              grid.disable();
            });
        </script>
  <script type="text/javascript">
    $(window).load(function(){
        
      $("html,body").animate({scrollTop: 0}, 1000);
      $("html,body").animate({scrollLeft: 0}, 1000);

    });
  </script>
  <% if  ( current_user.email == ('familytalesuser2@gmail.com') and @profile.url == "alexdunphy" ) %>
    <script type="text/javascript">
      $(window).load(function(){
        $('.navbar-inner').css('cssText','z-index: 600;');
        $('.storyboardSidebar').css('cssText','top: 43px;');
        $('.nav_left.hotspot').css('cssText','margin-top: 43px;');
      });
    </script>
  
  <% end %>
   <% if  ( current_user.email == ('familytalesuser2@gmail.com') and @profile.url == "alexdunphy" ) or 
          (signed_in? && current_user.canContribute?(@profile) && current_user.memorycount == 0 && @profile.memorycount > 0 ) %>
    <script type="text/javascript">
      $(window).load(function(){

        $('#newuserstorybook').modal('show');
        $('.welcomesneakpeek-coachmark').removeClass('hide');
        $('#newuserstorybook').on('hide', function () {
          $('.welcomesneakpeek-coachmark').addClass('hide');
          startIntro();
        });

        $('#newuserstorybook').on('show', function () {
          $('.welcomesneakpeek-coachmark').removeClass('hide');
        });
        $('.nextguide').click(function(){
          $('#newuserstorybook').modal('hide');
        });
        $('.skipguide').click(function(){
          $('#newuserstorybook').modal('hide');
        });
      });
    </script>
    <!-- crazy egg -->
    <script type="text/javascript">
    setTimeout(function(){var a=document.createElement("script");
    var b=document.getElementsByTagName("script")[0];
    a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0017/3827.js?"+Math.floor(new Date().getTime()/3600000);
    a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
    </script>
  <% end %>

  <script type="text/javascript">
    $(document).ready(function(){
      $("#add_page_panel_button").click(function(){
        $(".panel").slideToggle(500);
      });
    });
  </script>
    <% if signed_in? && current_user.canContribute?(@profile) && current_user.memorycount == 0  && @profile.memorycount == 0 %>
    <script type="text/javascript">
      $(window).load(function(){

        $('#newuserstorybook').modal('show');
        $('.welcomesneakpeek-coachmark').removeClass('hide');
        $('#newuserstorybook').on('hide', function () {
          $('.welcomesneakpeek-coachmark').addClass('hide');
          startIntro();
        });

        $('#newuserstorybook').on('show', function () {
          $('.welcomesneakpeek-coachmark').removeClass('hide');
        });
        $('.nextguide').click(function(){
          $('#newuserstorybook').modal('hide');
        });
        $('.skipguide').click(function(){
          $('#newuserstorybook').modal('hide');
        });
      });
    </script>
  <% end %>


   <!--Mouse wheel horizontal scroll -->
  <script>

    $(function() {
      $("body").mousewheel(function(event, delta) {
        this.scrollLeft -= (delta * 30);
        event.preventDefault();
      });

      $('#zoomstory').on('hide', function () {
        $("body").mousewheel(function(event, delta) {
          this.scrollLeft -= (delta * 30);
          event.preventDefault();
        });
      });

      $('#sneakpeakmodal1').on('hide', function () {
        $("body").mousewheel(function(event, delta) {
          this.scrollLeft -= (delta * 30);
          event.preventDefault();
        });
      });
    });
  </script>
  
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>  <!-- partial app/views/layouts/_shim.html.erb -->
  
   
</head>
<body>

  <% if current_user.email == ('familytalesuser2@gmail.com') and @profile.url == "alexdunphy" %>
    <header class="navbar-inverse navbar-fixed-top">
      <%= render 'layouts/sneakpeek_header' %>
    </header>
    <div class="navbar">
      <%= render 'layouts/storyboard_header' %>
    </div>
  <% else %>
    <header class="navbar navbar-fixed-top">
      <%= render 'layouts/storyboard_header' %>
    </header>
  <% end %>
  <% flash.each do |key, value| %>
     <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
<div id="storycontent">
	<%= yield %>
</div>
<%= render 'layouts/storyboard_footer' %>

<%= render 'shared/new_user_storybook_modal' %>
<div class="welcomesneakpeek-coachmark hide">
  <%  if  ( current_user.email == ('familytalesuser2@gmail.com') and @profile.url == "alexdunphy" ) %>
    <%= image_tag("/assets/images/coachmarks/sneakpeek.png") %>
  <% else %>
    <%= image_tag("/assets/images/coachmarks/welcomestorybook.png") %>
  <% end %>
  <div class="sneakpeek_buttons">
    <a class="btn skipguide" >Done</a> &nbsp; or &nbsp;
    <button class="green_button nextguide">Next</button>
  </div>
</div> 
<%= render 'explorer_acct_modal' %>
  <script type="text/javascript" data-turbolinks-eval=false>
    function startIntro(){
      introJs().setOption('skipLabel', 'Exit').onchange(function(targetElement) {
          switch (targetElement.getAttribute("data-step"))
          {

              case "1":
                  $(".gridster").addClass('shiftright');
              break;

              case "2":
                $(".introjs-tooltip").css("margin-left", "-100px");
                $(".gridster").removeClass('shiftright');
              break;

              case "3":
              $('body, html').scrollLeft(0);
                $(".introjs-tooltip").css("margin-left", "0px");

              break;

              case "4":         
                $("header").addClass("intro-showElement");
              break;
          }
        }).start().onexit(function() {
          $(".gridster").removeClass('shiftright');
          $(".gridster").removeClass("introjs-showElement");
          $("header").removeClass("intro-showElement");
        });
      }
    </script>
  <% if current_user.email == ('familytalesuser2@gmail.com') and @profile.url == "alexdunphy" %>
    <!-- crazy egg -->
    <script type="text/javascript" data-turbolinks-eval=false>
    setTimeout(function(){var a=document.createElement("script");
    var b=document.getElementsByTagName("script")[0];
    a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0017/3827.js?"+Math.floor(new Date().getTime()/3600000);
    a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
    </script>
  <% end %>

</body>
</html>
